<div class="text-center">
    <h2>{{isbn}}</h2>
    <p>{{body}}</p>
    <p>{{user.name}}: {{createdAt}}</p>

    <form class="addReview-form" action="/review/{{id}}" method="post">
        <input type="id" name="isbn" placeholder={{isbn}} value={{isbn}}>
        <textarea name="text" placeholder="Your Review"></textarea>
        <button class="btn btn-danger" type="submit">Post review</button>
    </form> 
    <p>
        <a href="/" class="btn btn-primary">More Posts</a>
        <a href="/" class="btn btn-primary">DELETE</a>
    </p>
</div>


<script src="/js/review.js"></script>